header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 92px 24px 0 24px;
    gap: 36px;
}
.none-list {
    list-style-type: none;
}
ul{
    list-style-type: circle;
}

.header-logo-block {
    flex-grow: 1;
}
.header-logo {
    width: 148px;
    display: block;
    height: 105px;
}
.header-menu{
    display: flex;
}
.header-list {
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 25px;

}

.header-address{
    margin-right: 25px;
}
.cover{
    background-image: url("/images/cover.jpg");
    margin-top: 50px;
    height: 100vh;
}
.size-letter{
    font-size: 100px;
    color: white;
    font-weight: 500;
}
.box-letter{
    display: flex;
    flex-direction: column;
}
.aligned-text_center{
    text-align: center;
}
.aligned-text_right{
    text-align: end;
}
.cover {
    font-weight: 700;
}