header{
    display: flex;
    /*justify-content: space-between;*/
    background-color: white;
    padding: 92px 24px 0 24px;
    gap: 36px;
    margin-bottom: 96px;
}
ul{
    list-style-type: circle;
}
.none-list {
    list-style-type: none;
    margin-left: 2px;
    border: none;
}
li{
    margin-top: 7px;
    border-bottom: 1px solid black;

}

.header-logo-block {
    flex-grow: 1;
}
.header-logo {
    width: 146px;
    display: block;
    height: 106px;
}
.header-menu{
    display: flex;
}
.header-list {
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 34px;

}

.header-address{
    /*padding-top: 7px;*/
    /*margin-right: 37px;*/
    font-style: normal;
    font-size: 18px;
}
.cover{
    background-image: url("/images/cover.jpg");
    /*margin-top: 50px;*/
    height: 757px;
}
.size-letter{
    letter-spacing: 30px;
    font-size: 100px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.box-letter{
    display: flex;
    flex-direction: column;
    padding: 165px 50px 0 50px;
}
.aligned-text_center{
    text-align: center;
    margin-top: 9px;
}
.aligned-text_right{
    text-align: end;
    margin-top: 3px;
    letter-spacing: 30px;
}
.cover {
    font-weight: 700;
}
.letter-spacing-extended{
    letter-spacing: 60px;
}
.no-letter-spacing{
    letter-spacing: 30px;
}
.none-letter{
    letter-spacing: 0;
}
.cover-description{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    padding-top: 128px;
    padding-left: 71px;
    /*padding: 141px 50px 51px 78px;*/
    word-spacing: 25px;
    color: white;
}
.bet-button{
    font-size: 22px;
    font-weight: 500;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 12px 32px 11px 31px;
}
.cover-description-text{
    margin-right: 79px;
}
.test{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.lots{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 0 24px 0 24px;
    margin-top: 27px;
}
.lots__heading{
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 64px;
    margin-top: 180px;

}
.lots__card-list{
    width: 33%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 700;
    padding: 51px 40px 48px 40px;
    color: white;
}
.lots a{
    text-transform: uppercase;
    text-decoration: underline;
}
.card1{
    background-image: url("/images/card-lot-01.jpg");
    font-size: 20px;
}
.card2{
    background-image: url("/images/card-lot-02.jpg");
    font-size: 20px;
}
.card3{
    background-image: url("/images/card-lot-03.jpg");
    font-size: 20px;
}
.lots__look-more-link{
    color: black;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    border-bottom: 1px solid black;
    margin: 13px 0 0 65px;
}
.about{
    padding: 35px 0 0 47px;
    margin-top: 146px;
    display: flex;
}
.about__logo{
    width: 25%;
}
.about__logo-image{
    margin-left: 24px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    background-image: url(/images/logo-white.svg);
    background-repeat: no-repeat;
    background-size: 62%;
    background-position: center;
}
.about__text{
    margin-top: 100px;
    margin-left: 72px;
    width: 65%;
    font-size: 20px;
    font-weight: 400;
}
.about__text h1{
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.text-column{
    margin-bottom: 24px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin: 180px 50px 88px 50px;
}
.address{
    color: black;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
}
.footer__menu-list{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer__social-list{
    display: flex;
    gap: 48px;
}
.footer__social-list img{
    width: 48px;
    height: 48px;
}